body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  /* background-image: linear-gradient(rgb(195, 205, 15), rgb(255, 38, 0));} */
  background-color: gray;
}
.converter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 1rem;
  gap: .4rem;
  text-align: center;
background-color: #ffffff;
padding: 1rem 1rem;
}
select,input{
  /* border: none; */
 
  outline: none;
  border-radius: 5px;
  background-color: rgb(145, 144, 144);
  text-align: center;
}
input{
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black;
}
.btn{
  background-color: rgb(31, 31, 249);
  border: none;
  color: rgb(255, 238, 248);
  width: 6rem;
  height: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}
.btn:hover{
  background-color: rgb(87, 87, 244);
}